* {
  box-sizing: border-box;
}
html {
  background-color: rgb(223, 159, 134);
}
/* header */
header {
  /* border: 1px solid black; */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  overflow: auto;
}
.name {
  font-family: "Gelasio";
  /* border: 1px solid lightcyan; */
  float: left;
  margin-left: 10px;
}
.links {
  /* border: 1px solid lightseagreen; */
  float: right;
  margin-top: 30px;
  margin-right: 20px;
}
/* main */
main {
  font-family: "Open Sans", sans-serif;
  padding: 64px 24px 96px;
  display: block;
  background-color: #222;
}
main h1 {
  font-family: "Open Sans";
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
}
/* card section */
.card {
  position: relative;
  width: 100%;
  margin: 50px auto;
  background-color: #eee;
  color: #166;
  padding: 1em;
  border: 3px solid black;
}
.card h2 {
  border-bottom: 1px solid #166;
  width: 150px;
  margin: 12px;
  text-align: center;
}
.card .card-image {
  position: left;
  float: left;
  height: 180px;
  width: 180px;
  padding: 10px;
  margin: 45px;
  border: 1px solid red;
}

.card .card-description {
  position: right;
  border: 2px solid green;
}

.card p::first-letter {
  font-size: 200%;
}

/* footer */
/* footer */
/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
} */

/* .social-media {
  border: 1px solid black;
  text-align: center;
} */

/* img {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
} */
/* Adds a hover effect 
.sm:hover {
  opacity: 0.7;
}
*/
