@import url("https://fonts.googleapis.com/css?family=Gelasio|Open+Sans|Cookie &display=swap");

* {
  box-sizing: border-box;
}
html {
  background-color: rgb(223, 159, 134);
}
/* body */
body {
  display: block;
  width: 960px;
  margin: 0 auto;
  background-color: skyblue;
}
/* header */
header {
  border: 5px outset gray;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  overflow: auto;
}
.name {
  font-family: "Gelasio";
  /* border: 1px solid lightcyan; */
  float: left;
  margin-left: 10px;
}
.links {
  /* border: 1px solid lightseagreen; */
  float: right;
  margin-top: 30px;
  margin-right: 20px;
}
.links a{
    font: size 20px;
}
a:active {
  border-bottom: 1px solid blue;
}
/* main */
.content {
  position: relative;
  margin: 0;
}

/* footer */
footer {
  border: 5px outset gray;  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.social-media {
  text-align: center;
}

img {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
/* Adds a hover effect */
.sm:hover {
  opacity: 0.7;
}
