* {
  box-sizing: border-box;
}

html {
  background-color: rgb(223, 159, 134);
}

/* header */

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  overflow: auto;
}

.name {
  font-family: "Gelasio";
  float: left;
  margin-left: 10px;
}

.links {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
}

/* main */

main {
  width: 100%;
  margin: 0 auto;
  margin-top: 85px;
}

.content-header {
  position: absolute;
  width: 75%;
  top: 100px;
  left: 25%;
  right: 25%;
  font-family: Impact, fantasy;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin: 0 auto;
}
.content h1 {
  position: absolute;
  border: 10px solid blue;
  text-align: center;
}
.content-body {
  position: absolute;
  top: 160px;
  font-family: Impact, fantasy;
  text-align: center;
  color: white;
}
.content-quote {
  font-family: "Satisfy", cursive;
  position: absolute;
  top: 300px;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 1.5em;
  text-align: center;
}
/* footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.social-media {
  border: 1px solid black;
  text-align: center;
}

img {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
Adds a hover effect .sm:hover {
  opacity: 0.7;
}
